body {
    text-align: center;
    list-style: inside;
}

ul {
    list-style: none;
}

.contents {
    background-color: #f1eaea;
}
.whole_content {
    background-color: #fcf8f3;
}

.header {
    color: #bdbd14;
    font-family: Georgia, 'Times New Roman', Times, serif
}

.header.main {
    color: red;
}